.container-fluid{
	background-color:#f3f4e9;
	padding-top:1%;
}
.logo{
	padding-bottom:1%;
}
.site{
	margin-top:2%;
	background-color:#ffffff;
	margine-bottom:0;
}
.site_photo{
	margin-left:-3.8%;
	width:107%;
	margin-top:-10%; 
}
.list_li{
	padding-top:2%;
	padding-left:8%;
	padding-right:8%;
	padding-bottom:2%;
}
font{
	color:#a8a8a8;
}
.font-center{
	text-align:center;
}
.upper{
	font-size:24px;
}
.bal_cont{
  background-color: #f7f8fa;
  padding-top:2%;
  padding-bottom:2%;
}
.green_font{
	color: #1ea01e;
	font-size:40px;
}
.yellow_form{
	background-color: #fff4b3;
	padding-top:2%;
	padding-left:12%;
	padding-right:12%;
	padding-bottom:2%;
}
.form-group{
	padding-left:10%;
}
.last{
	padding-top:2%;
	padding-left:12%;
	padding-right:12%;
	padding-bottom:4%;
}
footer{
	background-color:#000000;
	padding-top:1%;
	padding-bottom:1%;
}
